<script type="text/javascript">

    $(window).bind('resize', function () {
        $("#liste").jqGrid('destroyGroupHeader');
        $("#liste").setGridWidth($(window).width() * shrinkFaktor, true);
        setGridGroupHeaders();
    }).trigger('resize');

    function setGridGroupHeaders()
    {

    }

    function mahalleSec(cellvalue, options, rowObject)
    {
        var mesaj = "Bu Mahalleyi Seç";
        if (rowObject[0] == 0) {
            mesaj = "";
        }
        return "<a target='_blank' href='@Url.Action("Mahalle","Hane")?mahalleID=" + rowObject[0] + "&mahalleSec=1'>" + mesaj + "</a>";
    }

    function mahalleHaneleri(cellvalue, options, rowObject)
    {
        var mesaj = "Mahallenin Haneleri";
        if (rowObject[0] == 0) {
            mesaj = "";
        }
        return "<a target='_blank' href='@Url.Action("Mahalle","Hane")?mahalleID=" + rowObject[0] + "&mahalleSec=0'>" + mesaj + "</a>";
    }

    jQuery(document).ready(function () {

        jQuery("#liste").jqGrid({ //hangi tablo onun id si
            url: '@Url.Action("ListeMahalleler", "Hane")', //ilki action ikincisi controller
            datatype: 'json',
            mtype: 'POST',
            autowidth: true,
            colNames: ['id', 'Şehir Adı', 'İlçe Adı', 'Mahalle Adı', 'Mahalleyi Seç', 'Mahallenin Haneleri'],
            colModel:
            [
              { name: 'id', index: 'id', hidden:true, width: 10, sortable: false },
              //{ name: 'ilceID', index: 'ilceID', hidden: true, width: 10, sortable: false },
              //{ name: 'sehirID', index: 'sehirID', hidden: true, width: 10, sortable: false },
              { name: 'SEHIR', index: 'SEHIR', width: 75, search: true, sortable: false },
              { name: 'ILCE', index: 'ILCE', width: 75, search:true, sortable: false },
              //{ name: 'MAHALLEKODU', index: 'MAHALLEKODU', width: 50, search: false, sortable: false },
              { name: 'MAHALLE', index: 'MAHALLE', width: 150, search: true, sortable: false },
              //{ name: 'ACIKLAMA', index: 'ACIKLAMA', width: 200, search: false, sortable: false },
              { name: 'SEC', index: 'SEC', width: 50, align: 'left', search: false, sortable: false, formatter: mahalleSec },
              { name: 'HANELER', index: 'HANELER', width: 50, align: 'left', search: false, sortable: false, formatter: mahalleHaneleri }
            ],
            gridComplete: function ()
            {
                //alert("girdi");
                gridCompleteOrtak("#liste", true);
            },
            shrinkToFit: true,
            autowidth: true,
            altRows: true,
            altclass: "myAltRowClass",
            toppager: true,
            rowNum: 30,
            rowList: [5, 10, 15, 20, 30],
            sortname: 'AD',
            sortorder: "asc",
            viewrecords: true,
            height: '100%',
            caption: 'Sistem Mahalleleri',
            postData:
                {
                   'ilkGiris': function () { return '@ViewBag.IlkGiris' }
                }
        });

        jQuery("#liste").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'cn', 'nc'] });

        setGridGroupHeaders();
        gridCompleteOrtak("#liste", true);

        $(".ui-jqgrid-sortable").css('white-space', 'normal');
        $(".ui-jqgrid-sortable").css('height', 'auto');
        @*$('#liste').jqGrid('setGridWidth', '1000');*@
    });
</script>

<table id="liste" class="scroll" cellpadding="0" cellspacing="0" width="100%"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
