<script type="text/javascript">

    $(window).bind('resize', function () {
        $("#liste").jqGrid('destroyGroupHeader');
        $("#liste").setGridWidth($(window).width() * shrinkFaktor, true);
        setGridGroupHeaders();
    }).trigger('resize');

    function setGridGroupHeaders()
    {

    }

    function haneSec(cellvalue, options, rowObject)
    {
        var mesaj = "Bu Haneyi Seç";
        if (rowObject[0] == 0) {
            mesaj = "";
        }
        return "<a href='@Url.Action("Hane","Kisi")?haneID=" + rowObject[0] + "&haneSec=1'>" + mesaj + "</a>";
    }

    function haneKisileri(cellvalue, options, rowObject)
    {
        var mesaj = "Hanedeki Kişiler";
        if (rowObject[0] == 0) {
            mesaj = "";
        }
        return "<a href='@Url.Action("Hane","Kisi")?haneID=" + rowObject[0] + "&haneSec=0'>" + mesaj + "</a>";
    }

    jQuery(document).ready(function () {

        jQuery("#liste").jqGrid({ //hangi tablo onun id si
            url: '@Url.Action("ListeHaneler", "Kisi")', //ilki action ikincisi controller
            datatype: 'json',
            mtype: 'POST',
            autowidth: true,
            colNames: ['id', 'Hane Kodu', 'Şehir Adı', 'İlçe Adı', 'Mahalle Adı', 'Cadde', 'Sokak', 'Apartman-Daire', 'Haneyi Seç', 'Hanedeki Kişiler'],
            colModel:
            [
              { name: 'id', index: 'id', hidden:true, width: 10, sortable: false },
              { name: 'HANEKODU', index: 'HANEKODU', search: true, width: 20, sortable: false },
              { name: 'SEHIR', index: 'SEHIR', width: 50, search: true, sortable: false },
              { name: 'ILCE', index: 'ILCE', width: 50, search:true, sortable: false },
              { name: 'MAHALLE', index: 'MAHALLE', width: 100, search: true, sortable: false },
              { name: 'CADDE', index: 'CADDE', width: 100, search: true, sortable: false },
              { name: 'SOKAK', index: 'SOKAK', width: 100, search: true, sortable: false },
              { name: 'APARTMAN', index: 'APARTMAN', width: 50, search: true, sortable: false },
              { name: 'SEC', index: 'SEC', width: 50, align: 'left', search: false, sortable: false, formatter: haneSec },
              { name: 'KISILER', index: 'KISILER', width: 50, align: 'left', search: false, sortable: false, formatter: haneKisileri }
            ],
            gridComplete: function ()
            {
                //alert("girdi");
                gridCompleteOrtak("#liste", true);
            },
            shrinkToFit: true,
            autowidth: true,
            altRows: true,
            altclass: "myAltRowClass",
            toppager: true,
            rowNum: 30,
            rowList: [5, 10, 15, 20, 30],
            sortname: 'AD',
            sortorder: "asc",
            viewrecords: true,
            height: '100%',
            caption: 'Sistemdeki Haneler',
            postData:
                {
                   'ilkGiris': function () { return '@ViewBag.IlkGiris' }
                }
        });

        jQuery("#liste").jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false, sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge', 'bw', 'bn', 'in', 'ni', 'ew', 'en', 'cn', 'nc'] });

        setGridGroupHeaders();
        gridCompleteOrtak("#liste", true);

        $(".ui-jqgrid-sortable").css('white-space', 'normal');
        $(".ui-jqgrid-sortable").css('height', 'auto');
        @*$('#liste').jqGrid('setGridWidth', '1000');*@
    });
</script>

<table id="liste" class="scroll" cellpadding="0" cellspacing="0" width="100%"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
